---
import { type CollectionEntry, getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import ArticleTopLayout from "@layouts/ArticleTopLayout.astro"
import ArticleBottomLayout from "@layouts/ArticleBottomLayout.astro"
import { ui } from "@i18n/ui"

// Create the static projects pages
export async function getStaticPaths() {
	const projects = await getCollection("projects")
	const locales = Object.keys(ui)
	
	return projects.flatMap((project) => 
		locales.map((locale) => ({
			params: { 
				locale, 
				slug: project.slug 
			},
			props: { project, locale },
		}))
	)
}

// Get the requested project
const { project, locale } = Astro.props
const { title, summary } = project.data
---

<PageLayout title={title} description={summary}>
  <TopLayout>
    <div class="animate">
      <ArticleTopLayout entry={project} />
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <ArticleBottomLayout entry={project} />
    </div>
  </BottomLayout>
</PageLayout>