---
import { ui } from "@i18n/ui"
import ArticleBottomLayout from "@layouts/ArticleBottomLayout.astro"
import ArticleTopLayout from "@layouts/ArticleTopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import { getCollection } from "astro:content"

export async function getStaticPaths() {
	const projects = await getCollection("projects")
	const locales = Object.keys(ui)
	
	return projects.flatMap((project) => {
		const folderName = project.id.split('/')[0]
		const projectLang = project.data.lang
		
		return locales
			.filter(locale => locale === projectLang)
			.map((locale) => ({
				params: { 
					locale,
					slug: folderName
				},
				props: { project, locale },
			}))
	})
}

const { project } = Astro.props
const { title, summary } = project.data
---

<PageLayout title={title} description={summary}>
  <TopLayout>
    <div class="animate">
      <ArticleTopLayout entry={project} />
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <ArticleBottomLayout entry={project} />
    </div>
  </BottomLayout>
</PageLayout>