---
title: Projetos
lang: pt-br
permalink: /projects/
---

<div id="projects">
	<h1>Meus
		{{ page.title }}
	</h1>
	{% for project in site.data.projects-pt-br %}
	<div class="project">
		<img class="project-logo" src="{{ project.image }}" alt="{{ project.title }}">
		<div class="project-content">
			<h2 class="project-title">
				{{ project.title }}
			</h2>
			<p>
				{{ project.description }}
			</p>
			<div class="project-about">
				<!-- <span>
                    <a href="{{ project.source_code }}">Código Fonte</a><br>
                    <a href="{{ project.url }}">Aplicação</a>
                </span> -->
				<div class="project-languages">
					<div class="project-languages-title">
						Tecnologias utilizadas:
					</div>
					<div class="project-languages-content">
						{% for technology in project.technologies %}
						<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{ technology }}/{{ technology }}-original.svg"
								alt="{{ technology }} logo">
						{% endfor %}
					</div>
				</div>
			</div>
			<button onclick="document.getElementById('modal-{{ project.title }}').showModal()">Detalhes</button>
		</div>
	</div>
	{% endfor %}
</div>

{% for project in site.data.projects-pt-br %}
<dialog class="modal" id="modal-{{ project.title }}">
	<div class="modal-content">
		<span class="modal-close" onclick="document.getElementById('modal-{{ project.title }}').close()">&times;</span>
		<h2>
			{{ project.title }}
		</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
			distinctio quibusdam molestias. Vitae fugit quia omnis veritatis fuga
			illum a quibusdam dolorem ex eligendi minus enim itaque, odit ad
			consectetur.
		</p>
</dialog>
{% endfor %}