---
title: Projetos
lang: pt-br
permalink: /projects/
---

<div id="projects">
	<h1>Meus
		{{ page.title }}
	</h1>
	{% for project in site.data.projects-pt-br %}
	<div class="project">
		<img class="project-logo" src="{{ project.image }}" alt="{{ project.title }}">
		<div class="project-content">
			<div>
				<h3 class="project-title">
					{{ project.title }}
				</h3>
				<p>
					{{ project.description }}
				</p>
			</div>
			<div class="project-about">
				<div class="project-links">
					<div class="project-links-title">
						Links do projeto:
					</div>
					<div class="project-links-content">
						<a href="{{ project.source_code }}" target="_blank" rel="noopener noreferrer">
							Código Fonte
						</a>
						{% if project.demonstration %}
						<span class="vr">&#183;</span>
						<a href="{{ project.demonstration }}" target="_blank" rel="noopener noreferrer">
							Demonstração
						</a>
						{% endif %}
						{% if project.figma %}
						<span class="vr">&#183;</span>
						<a href="{{ project.figma }}" target="_blank" rel="noopener noreferrer">
							Figma
						</a>
						{% endif %}
					</div>
				</div>
				<div class="project-languages">
					<div class="project-languages-title">
						Tecnologias utilizadas:
					</div>
					<div class="project-languages-content">
						{% for technology in project.technologies %}
						<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{ technology }}/{{ technology }}-original.svg"
								alt="{{ technology }}">
						{% endfor %}
					</div>
				</div>
			</div>
			<button onclick="document.getElementById('modal-{{ project.title }}').showModal()">Detalhes</button>
		</div>
	</div>
	<hr class="solid">
	{% endfor %}
</div>

{% for project in site.data.projects-pt-br %}
<dialog class="modal" id="modal-{{ project.title }}">
	<div class="modal-content">
		<span class="modal-close" onclick="document.getElementById('modal-{{ project.title }}').close()">&times;</span>
		<h3>{{ project.title }}</h3>
        <h4>Qual problema este projeto resolve?</h4>
		<p>{{ project.details.problemSolved }}</p>
		<h4>Como este projeto foi desenvolvido?</h4>
		<p>{{ project.details.howItWasDeveloped }}</p>
		<h4>Por que escolhi estas tecnologias?</h4>
		<p>{{ project.details.technologyReason }}</p>
		<h4>Aprendizado adquirido</h4>
		<p>{{ project.details.learning }}</p>
		<h4>Próximos passos</h4>
		<p>{{ project.details.nextSteps }}</p>
    </div>
</dialog>
{% endfor %}