<script src="https://giscus.app/client.js"
    data-repo="ryrden/ryan.dev"
    data-repo-id="R_kgDOJRCb-A"
    data-category-id="DIC_kwDOJRCb-M4CcCwA"
    data-mapping="og:title"
    data-strict="1"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    {% if site.active_lang == 'pt-br' %}
    data-lang="pt"
    {% else %}
    data-lang="{{ site.active_lang }}"
    {% endif %}
    data-loading="lazy"
    crossorigin="anonymous"
    async>
</script>
<script>
    // Check if the user has a preferred theme set in local storage
    let theme = localStorage.getItem('theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
    theme = theme === 'dark' ? "{{ site.giscus.dark_theme }}" : "{{ site.giscus.light_theme }}";
    const existingGiscus = document.querySelector('script[src="https://giscus.app/client.js"]');
    if (existingGiscus) {
        existingGiscus.setAttribute('data-theme', theme);
    }
</script>