<footer class="site-footer">
	<address>
        <div class="site-social">
            <span class="social-title">
                Social:
            </span>
            <span>
                {% for item in site.data.socialMedia %}
                <a href="{{ item.link }}" class="social-item">
                    {% include {{ item.source }} %}
                    {{ item.name | capitalize }}
                </a>
                {% endfor %}
            </span>
        </div>

		<span class="site-social">
            <span class="social-title">
                Email:
            </span>
			<a href="{{ '/contact/' | relative_url }}">{{ site.data.contact.email }}</a>
		</span>
	</address>
    <small id="site-license">
        Este site foi desenvolvido com base na Licença MIT, por <a href="{{ '/' | relative_url }}">Ryan Souza</a> 
        (<a href="https://github.com/Ryrden/ryrden.dev">código-fonte</a>)
    </small>
</footer>
