<header class="site-header" role="banner">
	<a href="{{ '/' | relative_url }}" class="site-title">Ryan S.</a>
	<!-- Start of Hamburguer Menu -->
    <input type="checkbox" id="active">
	<label for="active" class="menu-btn"><span></span></label>
	<label for="active" class="close"></label>
	<!-- End of Hamburguer Menu -->
	<div class=site-nav-container>
        <ul class="nav-items">
            {% for item in site.data.navigation %}
            <li>
                <a {% if page.nav_current == item.link or page.url == item.link %}
                        aria-current="page" 
                    {% endif %} 
                    {% if item.id %}
                        id="{{ item.id }}" 
                    {% endif %} 
                    {% if item.label %}
                        aria-label="{{ item.label }}" 
                    {% endif %} 
                    {% if item.link %}
                        href="{{ item.link | relative_url }}"
                    {% endif %}> 
                    {% if site.active_lang == "pt-br" %}
                        {{ item.text-pt-br | capitalize }}
                    {% else %}
                        {{ item.text-en | capitalize }}
                    {% endif %}
                </a>
            </li>
            {% endfor %}
            <li class="language-switcher">
                <select id="language-select" aria-label="Select language">
                    {% for tongue in site.languages %}
                    <option value="{{ tongue }}" {% if tongue == site.active_lang %}selected{% endif %}>
                        {{ tongue | upcase }}
                    </option>
                    {% endfor %}
                </select>
            </li>
            <li class="theme-switcher">
                {% include icons/brightness-left.svg %}
                <!-- {% include icons/brightness-right.svg %} // TODO: Allow to use both icons -->
            </li>
        </ul>
	</div>
	<script>
		function sendMessage(message) {
			const iframe = document.querySelector('iframe.giscus-frame');
			if (!iframe) return;
			iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
		}
		
		function applyTheme(theme) {
			document.body.classList.remove('light-theme', 'dark-theme');
			document.body.classList.add(`${theme}-theme`);
		}

		function applyGiscusTheme(theme) {
			let themeToApply = (theme === 'dark') ? "{{ site.giscus.dark_theme }}" : "{{ site.giscus.light_theme }}"
			const existingGiscus = document.querySelector('script[src="https://giscus.app/client.js"]');
			if (existingGiscus) {
				sendMessage({
					setConfig: {
						theme: themeToApply
					}
				});
			}
		}

		function toggleTheme() {
			theme = (theme === 'light') ? 'dark' : 'light';
			localStorage.setItem('theme', theme);
			applyTheme(theme);
			applyGiscusTheme(theme);
		}

		// Check if the user has a preferred theme set in local storage
		let theme = localStorage.getItem('theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');

		// Initial load
		applyTheme(theme);

		
		document.addEventListener('DOMContentLoaded', function() {
			// Add click event listener to the theme switcher div
			document.querySelector('.theme-switcher').addEventListener('click', toggleTheme)

			// Add change event listener to the language select
			document.getElementById("language-select").addEventListener("change", function() {
				const selectedLang = this.value;
				let currentUrl = "{{ page.url }}";
				const baseUrl = "{{ site.baseurl }}";
				let newUrl = ""; 
					
				// TODO: Improve this because of jekyll-polyglot
				// if is there YYYY-MM-DD in the url, so, it's a post
				const isPost = currentUrl.match(/\d{4}-\d{2}-\d{2}/)

				const languageToReplace = selectedLang === "pt-br" ? "en" : "pt-br"
				currentUrl = currentUrl.replace(`-${languageToReplace}`, `-${selectedLang}`);
				
				if (selectedLang == "pt-br") {
					newUrl = baseUrl + currentUrl;
				} else {
					newUrl = baseUrl + "/" + selectedLang + currentUrl;
				}
				
				window.location.href = newUrl;
			});
		});
	</script>
</header>