$white: #f7f7f7;

$black: #0f0f0f;

@media (prefers-color-scheme: dark) {
    :root {
        --color-github-icon: #{$white};
        --color-linkedin-icon: #{$white};
        --color-telegram-icon: #{$white};
        --color-twitter-icon: #{$white};
        --color-devto-icon: #{$white};
    }
}