.site-footer {
    margin-top: 2em;
    width: 100%;
    text-align: center;

    position: sticky;
    top: 100vh;

    border-top: 1px solid #e8e8e8;
    padding: 1em 0;

    address {
        display: flex;
        justify-content: space-evenly;
        .site-social {
            margin-bottom: 0.5em;
            .social-item {
                vertical-align: center;
                img {
                    width: 1rem;
                }
            }
        }
    }

    #site-license {
        margin-top: 0.5em;
    }
}

@media (max-width: 768px) {
    .site-footer {
        address {
            display: block;
            .site-social {
                display: flex;
                flex-direction: column;
            }
        }
    }
}