.site-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;

    border-bottom: 1px solid #e8e8e8;
    
    a{
        text-decoration: none;
    }

    a#cv {
        display: inline-block;
        width: 1.25em;
        text-align: center;
    }

    .site-title {
        display: flex;
        align-items: center;
        font-size: 26px;
        font-weight: 300;
    }

    .site-title, .site-title:visited {
        color: $black;
    }

    .site-nav-container {
        display: flex;
        align-items: center;
        
        .site-nav .nav-items {
            display: flex;
            list-style: none;
            padding: 0;

            li:not(:first-child) {
                margin-left: 1em;
            }
        }
        
        .language-switcher {
            margin-left: 1em;

            #language-select {
                padding-top: 0;
                padding-bottom: 0;
                margin: 0;
                border: none;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    .site-header {
        .site-title, .site-title:visited {
            color: $white;
        }
    }
}

@media (max-width: 768px) {
    .site-header {
        flex-direction: column;
        align-items: center;
        .site-nav-container {
            .site-nav .nav-items {
                li {
                    margin: 0;

                    &:not(:first-child) {
                        margin-left: 0.5em;
                    }
                }
            }

            .language-switcher {
                margin-left: 0.5em;
            }
        }
    }
}

@media (max-width: 360px) {
    .site-header {
        .site-nav-container {
            flex-direction: column;
            margin-bottom: 1em;
        }
    }

}