<!DOCTYPE html>
<html lang="{{ site.active_lang }}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ryan.dev</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
	<link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
	<script src="{{ '/assets/script.js' | relative_url }}" defer></script>
</head>

<body>
	{% include header.html %}

	<main class="container">
		{{ content }}
	</main>

	{% include footer.html %}
</body>
<!-- <script>
	document.addEventListener('DOMContentLoaded', function() {
		if (!window.location.pathname.startsWith('/pt-br/') && !window.location.pathname.startsWith('/en/')) {
			window.location.href = '/pt-br' + window.location.pathname;
		}
	});
</script> -->
</html>