---
layout: default
lang: pt-br
---

<section>
    <h1 id="#top">
        {{ page.title }}
    </h1>
    <span>
        Escrito em 
        {% assign m = page.date | date: "%-m" %}
        {{ page.date | date: "%-d de" }}
        {% case m %}
            {% when '1' %}Janeiro
            {% when '2' %}Fevereiro
            {% when '3' %}Março
            {% when '4' %}Abril
            {% when '5' %}Maio
            {% when '6' %}Junho
            {% when '7' %}Julho
            {% when '8' %}Agosto
            {% when '9' %}Setembro
            {% when '10' %}Outubro
            {% when '11' %}Novembro
            {% when '12' %}Dezembro
        {% endcase %}
        {{ page.date | date: " de %Y" }}
        por {{ page.author }}
    </span>
    {% if page.devto_url or page.tabnews_url %}
        <span>
            -- Publicado também em: 
            {% if page.devto_url %}
            <a href="{{ page.devto_url }}" target="_blank">Dev.to</a>
            {% endif %}
            {% if page.devto_url and page.tabnews_url %} e {% endif %}
            {% if page.tabnews_url %}
            <a href="{{ page.tabnews_url }}" target="_blank">Tabnews</a>
            {% endif %}
        </span>
    {% endif %}
    <div>
        <p>
            <strong>Resumo:</strong>
            {{ page.description }}
        </p>
    </div>
    {% include lazyload.html image_src=page.cover_image image_alt=page.image_alt image_title=page.image_alt %}
    <h2>Conteúdo</h2>
    <p>{{ content }}</p>
    <p style="text-align:end;"><a href="#top">Voltar ao topo ⬆️</a></p>
    <p>
        <quote>
            Encontrou algum erro? sinta-se a vontade para abrir um pull request no arquivo <a href="https://github.com/ryrden/ryan.dev/blob/main/{{ page.path }}" target="_blank">fonte</a> deste post no Github.
        </quote>
    </p>
    {% if page.comments %}
        {% include comments.html %}
    {% endif %}
</section>