---
layout: default
---

<section>
    <h1 id="#top">{{ page.title }}</h1>
    <span>Escrito em {{ page.date | date: "%d/%m/%Y" | date_to_long_string }} por {{ page.author }}</span>
    <div>
        <p>
            <strong>Resumo:</strong>
            {{ page.description }}
        </p>
    </div>
    <img src="{{ page.cover_image }}" alt="{{ page.imageAlt }}">
    <h2>Conteúdo</h2>
    <p>{{ content }}</p>
    <p style="text-align:end;"><a href="#top">Voltar ao topo ⬆️</a></p>
    <p>
        <quote>
            Encontrou algum erro? sinta-se a vontade para abrir um pull request no arquivo <a href="{{ page.source }}" target="_blank">fonte</a> deste post.
        </quote>
    </p>
</section>